{%load static%}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  
</head>
<body>
    <h1> TO DO LIST</h1>
    <h2>All Task</h2>
    <form action="/" method="POST">
        {% csrf_token%}
    
     <ul>
         {%for content in forms%}
         
         <li>{{content.label}}
          {{content}}
         </li>
       {% endfor %}
    
        </ul>
        <button type="Submit"> Save</button>
    </form>
</body>
</html>
